*.sw[pon]                                                                           
.DS_Store                                                                       
/.idea                                                                          
/vendor
/htdocs
