*.sw[pon]                                                                           
.DS_Store                                                                       
/.idea                                                                          
.idea/
.vscode/
/vendor
/htdocs
