<?xml version="1.0"?>
<config>
    <modules>
        <Drip_Connect>
            <version>0.1.0</version>
        </Drip_Connect>
    </modules>
    <global>
        <models>
            <drip_connect>
                <class>Drip_Connect_Model</class>
            </drip_connect>
        </models>
        <helpers>
            <drip_connect>
                <class>Drip_Connect_Helper</class>
            </drip_connect>
        </helpers>
        <blocks>
            <drip_connect>
                <class>Drip_Connect_Block</class>
            </drip_connect>
        </blocks>
        <events>
            <customer_save_before>
                <observers>
                    <drip_connect_customer_save_before>
                        <class>drip_connect/observer_account</class>
                        <method>checkIfCustomerNew</method>
                    </drip_connect_customer_save_before>
                </observers>
            </customer_save_before>
            <customer_save_commit_after>
                <observers>
                    <drip_connect_customer_save_commit_after>
                        <class>drip_connect/observer_account</class>
                        <method>afterCustomerSave</method>
                    </drip_connect_customer_save_commit_after>
                </observers>
            </customer_save_commit_after>
            <customer_delete_commit_after>
                <observers>
                    <drip_connect_customer_delete_commit_after>
                        <class>drip_connect/observer_account</class>
                        <method>afterCustomerDelete</method>
                    </drip_connect_customer_delete_commit_after>
                </observers>
            </customer_delete_commit_after>
            <sales_order_save_before>
                <observers>
                    <drip_connect_sales_order_save_before>
                        <class>drip_connect/observer_order</class>
                        <method>beforeOrderSave</method>
                    </drip_connect_sales_order_save_before>
                </observers>
            </sales_order_save_before>
            <sales_order_save_commit_after>
                <observers>
                    <drip_connect_sales_order_save_commit_after>
                        <class>drip_connect/observer_order</class>
                        <method>afterOrderSave</method>
                    </drip_connect_sales_order_save_commit_after>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>
    <frontend>
        <events>
            <customer_address_save_before>
                <observers>
                    <drip_connect_customer_address_save_before>
                        <type>singleton</type>
                        <class>drip_connect/observer_account</class>
                        <method>beforeCustomerAddressSaveFront</method>
                    </drip_connect_customer_address_save_before>
                </observers>
            </customer_address_save_before>
            <customer_address_save_commit_after>
                <observers>
                    <drip_connect_customer_address_save_commit_after>
                        <type>singleton</type>
                        <class>drip_connect/observer_account</class>
                        <method>afterCustomerAddressSaveFront</method>
                    </drip_connect_customer_address_save_commit_after>
                </observers>
            </customer_address_save_commit_after>
            <customer_login>
                <observers>
                    <drip_connect_customer_login>
                        <class>drip_connect/observer_customer</class>
                        <method>customerLogin</method>
                    </drip_connect_customer_login>
                </observers>
            </customer_login>
        </events>
        <layout>
            <updates>
                <drip_connect>
                    <file>drip/connect.xml</file>
                </drip_connect>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Drip_Connect after="Mage_Adminhtml">Drip_Connect_Adminhtml</Drip_Connect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <dripconnect_general>
            <module_settings>
                <is_enabled>0</is_enabled>
            </module_settings>
            <api_settings>
                <url>https://api.getdrip.com/v2/</url>
                <timeout>15000</timeout>
                <behavior>call_api</behavior>
            </api_settings>
        </dripconnect_general>
    </default>
</config>
