<?xml version="1.0"?>
<config>
    <tabs>
        <drip translate="label" module="drip_connect">
            <label>Drip</label>
            <sort_order>400</sort_order>
        </drip>
    </tabs>
    <sections>
        <dripconnect_general translate="label">
            <label>Drip Connect Configuration</label>
            <tab>drip</tab>
            <frontend_type>text</frontend_type>
            <sort_order>75</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <module_settings translate="label">
                    <label>Module Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <version translate="label">
                            <label>Version</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>drip_connect/adminhtml_system_config_version</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </version>
                        <is_enabled translate="label">
                            <label>Is Module Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_enabled>
                        <salt translate="label comment">
                            <label>Security Hash</label>
                            <comment>Put any random string here. If value is 'some default string' replace it with something else. This is used to create abandoned cart links.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </salt>
                    </fields>
                </module_settings>
                <api_settings translate="label">
                    <label>API Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <account_id translate="label">
                            <label>Drip Account ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account_id>
                        <api_key translate="label">
                            <label>Drip API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <url translate="label">
                            <label>API Endpoint URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url>
                        <timeout translate="label comment">
                            <label>Timeout</label>
                            <comment>Timeout in milliseconds</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </timeout>
                        <batch_delay translate="label comment">
                            <label>Batch delay</label>
                            <comment>Delay in seconds between batch api calls (not recommended to have it lower than 72)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </batch_delay>
                        <memory_limit translate="label comment">
                            <label>Memory Limit</label>
                            <comment>Memory Limit in Mb</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </memory_limit>
                    </fields>
                </api_settings>
                <actions translate="label">
                    <label>Drip Actions</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sync_customers_data translate="label comment button_label">
                            <label>Sync Customers</label>
                            <button_label>Sync All Customers To Drip</button_label>
                            <comment>This will sync all your current Magento customer data into Drip. No automations will be triggered off of this import (e.g. welcome series, order confirmations).</comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>drip_connect/adminhtml_system_config_sync_customers</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sync_customers_data>
                        <sync_customers_data_state translate="label">
                            <label>action state</label>
                            <frontend_type>select</frontend_type>
                            <source_model>drip_connect/source_syncState</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <hideThisField>1</hideThisField>
                            </depends>
                        </sync_customers_data_state>
                        <sync_customers_data_state_reset translate="label comment button_label">
                            <label></label>
                            <button_label>Reset Status</button_label>
                            <comment>This will reset the sync status to "Ready". Sync process takes a time so please use the reset only if it gets stuck.</comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>drip_connect/adminhtml_system_config_sync_customers_reset</frontend_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sync_customers_data_state_reset>
                        <sync_orders_data translate="label comment button_label">
                            <label>Sync Orders</label>
                            <button_label>Sync All Orders To Drip</button_label>
                            <comment>This will sync all your current Magento orders into Drip. No automations will be triggered off of this import (e.g. welcome series, order confirmations). We will not sync any orders that have been cancelled or refunded.</comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>drip_connect/adminhtml_system_config_sync_orders</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sync_orders_data>
                        <sync_orders_data_state translate="label">
                            <label>action state</label>
                            <frontend_type>select</frontend_type>
                            <source_model>drip_connect/source_syncState</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <hideThisField>1</hideThisField>
                            </depends>
                        </sync_orders_data_state>
                        <sync_orders_data_state_reset translate="label comment button_label">
                            <label></label>
                            <button_label>Reset Status</button_label>
                            <comment>This will reset the sync status to "Ready". Sync process takes a time so please use the reset only if it gets stuck.</comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>drip_connect/adminhtml_system_config_sync_orders_reset</frontend_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sync_orders_data_state_reset>
                    </fields>
                </actions>
                <log_settings translate="label">
                    <label>Log Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <is_enabled translate="label">
                            <label>Is Debug Mode Enabled</label>
                            <comment>Logs all requests and responses to var/log/drip.log</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_enabled>
                    </fields>
                </log_settings>
            </groups>
        </dripconnect_general>
    </sections>
</config>
